@charset 'utf-8';

.swiper-container {

    position: absolute;
    top: 440px;
    z-index: 10;

	width: 580px;
	height: 312px;
	padding: 32px 60px 58px 10px;
	margin: auto;
}

.swiper-wrapper {
	height: 312px;
}

.swiper-slide {
	position: relative;
	width: 293px;
	height: 312px;
	background-size: 263px 312px;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url(../../static/images/studio/work_bg.png?__inline);
}

.item-wrap {
	width: 263px;
	height: 312px;
	position: relative;
}

/*.custome-item-last {
	width: 263px;
	height: 312px;
}

.custome-item-last .item-wrap {
	margin-right: 0;
}*/

.item-img {
	width: 263px;
	height: 251px;
}

.scaled-work-display {
	position: relative;
	top: -194px;/**(-640 + 251) * 0.5**/
	left: -188px;/**(-640 + 263) * 0.5**/
	transform: scale(0.41, 0.39);
	-ms-transform: scale(0.41, 0.39);
	-moz-transform: scale(0.41, 0.39);
	-webkit-transform: scale(0.41, 0.39);
	-o-transform: scale(0.41, 0.39);
}
.scaled-work-display .work-wrap {
	width: 640px;
	height: 640px;
	overflow: hidden;
}

.item-title {
	position: absolute;
	bottom: 0px;
}

.swiper-slide a {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 100;
}

.pagination {
  position: absolute;
  z-index: 20;
  left: 0px;
  right: 0px;
  text-align: center;
  bottom: 20px;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  margin-right: 5px;
  opacity: 0.8;
  /**border: 2px solid #fff;**/
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}