<link rel="stylesheet" type="text/css" href="./works.css?__inline">
<div class="swiper-container">
	<div class="swiper-wrapper">
		<!-- <div v-for="item in items" class="swiper-slide" v-bind:class="{'custome-item-last': $index === (items.length - 1)}"> -->
		<div v-for="item in items" class="swiper-slide" v-on:touchStart="onTouchItem()">
			<a v-bind:href="item.href" target="_self"></a>
			<div class="item-wrap">
				<!-- <img class="item-img" v-bind:src="item.imgUrl"> -->
				<work-display :display-imgs="item" :front="true" spec-class="scaled-work-display"></work-display>
				<div class="item-title">{{item.title}}</div>
			</div>
		</div>
	</div>
    <div class="pagination"></div>
</div>