@charset "utf-8";

@import url('../../../components/workDisplay/workDisplay.css?__inline');

#app {
	width: 640px;
	margin: auto;
}

.display-wrap {
	width: 100%;
	height: 1534px;
	position: relative;
}

.work-bg {
	width: 640px;
	height: 1534px;
}

/**.work-wrap {
	position: absolute;
	width: 100%;
	height: 657px;
	top: 90px;
	text-align: center;
	z-index: 1;
}

.work {
	width: 613px;
	height: 657px;
}

.work_content-wrap {
	position: absolute;
	width: 100%;
	height: 266px;
	top: 300px;
	text-align: center;
	z-index: 10;
}
.work_content {
	width: 140px;
	height: 266px;
}**/

.work-display-wrap {
	position: absolute;
	width: 640px;
	height: 640px;
	top: 90px;
	text-align: center;
	z-index: 1;
	/**transform: scale(0.5, 0.5);**/
}


.front-back-wrap {
	position: absolute;
	width: 62px;
	height: 62px;
	top: 634px;
	right: 74px;
	z-index: 20;
}

.front,
.back {
	width: 62px;
	height: 62px;
}

.user-avatar {
	position: absolute;
	width: 140px;
	height: 140px;
	top: 809px;
	left: 255px;
	border-radius: 70px;
	z-index: 30;
}

.title-wrap {
	position: absolute;
	width: 100%;
	height: 37px;/*px*/
	line-height: 37px;/*px*/
	top: 35px;
	font-size: 37px;/*px*/
	z-index: 10;
	text-align:center;
}

.name-wrap{
	position: absolute;
	width: 100%;
	height: 37px;
	line-height: 37px;
	top: 985px;
	font-size: 46px;
	z-index: 10;
	color: #ffffff;
	text-align:center;
}

.detail-wrap {
	position: absolute;
	width: 100%;
	height: 405px;
	line-height: 140%;
	top: 1050px;
	font-size: 29px;
	z-index: 10;
	text-align:center;
	color: #ffffff;
	overflow: hidden;
}

.app-intro {
	width: 640px;
	height: 1284px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
	background-image: url(../../../static/images/classic/app_intro.jpg);
}

.footer-wrap {
	text-align: center;
	position: relative;
	width: 640px;
	height: 1109px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
	background-image: url(../../../static/images/classic/footer.jpg);
}

.app-download-bottom {
    position: absolute;
	width: 183px;
	height: 68px;
    top: 855px;
    left: 227px;
    z-index: 10;
}
.app-download-a {
    position: absolute;
	width: 183px;
	height: 68px;
    top: 855px;
    left: 227px;
    z-index: 20;
}

/**.app-info {
	width: 640px;
	height: 1109px;
}**/

.buy-btn {
	position: fixed;
	width: 155px;
	height: 64px;
    bottom: 50px;
    right: 50px;
	z-index: 100;
}

/* 必需 */
.buy-btn-visible-transition {
    opacity: 1;
    transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

/* -enter 定义进入的开始状态 */
/* -leave 定义离开的结束状态 */
.buy-btn-visible-enter, .buy-btn-visible-leave {
    opacity: 0;
}

/*@media (min-width: 768px){
	.buy-btn {
		position: fixed;
		left: 50%;
		padding-left: 80px;
		z-index: 100;
	}
}*/



/*.buy-popup-deacstive {
	transform: translateY(798px);
	-ms-transform: translateY(798px);
	-moz-transform: translateY(798px);
	-webkit-transform: translateY(798px);
	-o-transform: translateY(798px);
	transition: transform 0.3s;
}

.buy-popup-active {
	transform: translateY(-798px);
	-ms-transform: translateY(-798px);
	-moz-transform: translateY(-798px);
	-webkit-transform: translateY(-798px);
	-o-transform: translateY(-798px);
	transition: transform 0.3s;
}*/