<link rel="stylesheet" type="text/css" href="./userWorkDisplay.css?__inline">
<div class="user-work-wrap" v-on:click="clickItemHandler">
    <work-display :display-imgs="item.workItem" :front="true" spec-class="scaled-work-display"></work-display>
    <div class="user-profile-wrap">
        <img class="user-avatar" v-bind:src="item.userItem.avatarUrl">
        <div class="title-wrap" v-html="item.userItem.title"></div>
        <div class="name-wrap" v-html="item.userItem.nick"></div>
        <div class="praise-wrap">
            <img class="praise-icon" src="../../static/images/recommend/love.png">
            <div class="praise-count" v-html="item.userItem.praiseCount"></div>
        </div>
        <!--div class="price-wrap">
            <div class="price-count">￥{{item.workItem.price}}</div>
        </div-->
    </div>
</div>