@charset 'utf-8';

.displays-wrap {
	width: 100%;
	height: 712px;
	padding-top: 30px;
	padding-bottom: 22px;
	overflow: hidden;
}

.displays {
	width: 2284px;
	height: 712px;
	position: relative;
}

.display-item-wrap {
	width: 400px;
	height: 712px;
	padding-left: 32px;
	padding-right: 24px;
	float: left;
}

.display-item {
	width: 400px;
	height: 712px;
}
