@charset 'utf-8';

.swiper-container {
	width: 580px;
	height: 712px;
	padding: 30px 30px 22px;
	margin: auto;
	overflow: hidden;
}

.swiper-wrapper {
	height: 712px;
}

.swiper-slide {
	width: 456px;
	height: 712px;
}

.item-wrap {
	width: 400px;
	height: 712px;
	margin-right: 56px;
	position: relative;
}

.custome-item-last {
	width: 400px;
	height: 712px;
}

.custome-item-last .item-wrap {
	margin-right: 0;
}

.item-img {
	width: 400px;
	height: 712px;
}