@charset 'utf-8';

.buy-popup {
	width: 100%;
	height: 714px;
	position: fixed;
	bottom: 0;
	z-index: 30;
	background-color: #fff;
}

.scaled-work-display {
	position: absolute;
	top: -47%;
	left: -169px;/**-613 * (1 - 0.35) * 0.5 + 30**/
	transform: scale(0.35, 0.35);
}
.scaled-work-display .work-wrap {
	width: 640px;
	height: 640px;
	border-radius: 100%;
	border: 2px solid #000;/*no*/
	background-color: #fff;
	overflow: hidden;
}

.scaled-work-display .work {
	/**border-radius: 100%;**/
	/**border: 2px solid #000;**//*no*/
}

.select-wrap {
	position: absolute;
	top: 0;
}

.title-bar {
	width: 100%;
	height: 98px;
	padding-top: 38px;
	border-bottom: solid 1px #acacac;
}

.close-btn{
	position: absolute;
	padding: 22px 22px;
	right: 4px;
	top: 0;
}

.price-label{
	padding-left: 278px;
	font-size: 28px;/*px*/
	line-height: 28px;/*px*/
	color: #c9210a;
}

.explanation-label{
	padding-left: 278px;
	margin-top: 25px;
	font-size: 18px;/*px*/
	line-height: 18px;/*px*/
	color: #cccccc;
}

.sex-wrap,
.type-wrap {
	width: 100%;
	height: 84px;
	border-bottom: solid 1px #acacac;
}

.sex-label,
.type-label {
	width: 100px;
	line-height: 84px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	font-size: 24px;
}

.content-wrap {
	text-align: center;
	display: inline-block;
}

.content-wrap span {
	height: 44px;
	line-height: 44px;
	border: solid 2px #acacac; /*no*/
	display: inline-block;
	padding: 0 20px;
	margin-right: 20px;
	border-radius: 4px;
}

.color-wrap,
.size-wrap {
	position: relative;
	width: 100%;
	height: 122px;
	border-bottom: solid 1px #d6d6d6;
}

.color-label,
.size-label {
	width: 100px;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.content-big-wrap {
	position: absolute;
	left: 56px;
	top: 60px;
	right: 0;
	text-align: left;
}

.content-big-wrap span {
	display: inline-block;
	margin-right: 20px;
	border-radius: 4px;
}

.color-wrap span {
	width: 40px; 
	height: 40px;
}

.size-wrap span {
	width: 40px; 
	height: 40px;
	padding: 0 15px;
	line-height: 40px;
	text-align: center;
	border: solid 2px #acacac;
}

.num-wrap {
	width: 100%;
	height: 68px;
	border-bottom: solid 1px #acacac;
}

.buynum-label{
	padding-left: 20px;
	width: 120px;
	line-height: 68px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	font-size: 24px;
}

.number-wrap{
	position: relative;
	width: 400px; 
	float: right; 
	padding-right: 86px;
	text-align:right; 
	vertical-align: middle;
}

.number-wrap span{
	line-height: 68px;
	padding: 0 5px;
}

.number-btn {
	position: relative;
    width: 33px;
    height: 33px;
    top: 10px;
}

.footer-wrap {
	text-align: center;
	position: relative;
	top: 15px;
}

.select-txt-btn {
	background-color: #ffd200;
	color: #fff;
	border: solid 0px #acacac;
}

.select-box {
	border: solid 2px #000; /*no*/
}
