@charset 'utf-8';

.buy-popup {
	width: 100%;
	height: 798px;
	position: fixed;
	bottom: 0;
	z-index: 30;
	background-color: #fff;
}

/* 必需 */
.buy-popup-expand-transition {
    height: 798px;
    transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.buy-popup-expand-enter, .buy-popup-expand-leave {
    height: 0;
}

/*.buy-popup-deacstive {
	transform: translateY(798px);
	-ms-transform: translateY(798px);
	-moz-transform: translateY(798px);
	-webkit-transform: translateY(798px);
	-o-transform: translateY(798px);

	transition: transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	-o-transition: -o-transform 0.3s;
}

.buy-popup-active {
	transform: translateY(-798px);
	-ms-transform: translateY(-798px);
	-moz-transform: translateY(-798px);
	-webkit-transform: translateY(-798px);
	-o-transform: translateY(-798px);

	transition: transform 1s;
	-ms-transition: -ms-transform 1s;
	-moz-transition: -moz-transform 1s;
	-webkit-transition: -webkit-transform 1s;
	-o-transition: -o-transform 1s;
}*/

.scaled-work-display {
	position: absolute;
	top: -42%;
	left: -169px;/**-613 * (1 - 0.35) * 0.5 + 30**/
	transform: scale(0.35, 0.35);
	-ms-transform: scale(0.35, 0.35);
	-moz-transform: scale(0.35, 0.35);
	-webkit-transform: scale(0.35, 0.35);
	-o-transform: scale(0.35, 0.35);
}
.scaled-work-display .work-wrap {
	width: 640px;
	height: 640px;
	border-radius: 100%;
	border: 1px solid #000;/*no*/
	background-color: #fff;
	overflow: hidden;
}

.scaled-work-display .work {
	/**border-radius: 100%;**/
	/**border: 2px solid #000;**//*no*/
}

.select-wrap {
	position: absolute;
	top: 0;
	width: 100%;
}

.title-bar {
	width: 100%;
	height: 98px;
	padding-top: 38px;
	border-bottom: solid 1px #acacac;/*no*/
}

.close-btn{
	position: absolute;
	padding: 22px 22px;
	right: 4px;
	top: 0;
	width: 37px;
	height: 37px;
}

.price-label{
	padding-left: 278px;
	font-size: 28px;/*px*/
	line-height: 28px;/*px*/
	color: #c9210a;
}

.explanation-label {
	height: 24px;
	line-height: 24px;
	padding-left: 278px;
	margin-top: 25px;
	font-size: 18px;/*px*/
	color: #cccccc;
}

.explanation-label img {
	width: 24px;
	height: 24px;
}
.explanation-label a {
	height: 24px;
	font-size: 20px;
	line-height: 24px;
	position: relative;
    top: -5px;
}

.sex-wrap,
.model-wrap,
.type-wrap {
	position: relative;
	width: 100%;
	height: 84px;
	border-bottom: solid 1px #acacac;/*no*/
}

.sex-label,
.model-label,
.type-label {
	width: 100px;
	line-height: 84px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	font-size: 24px;
}

.content-wrap {
	position: absolute;
	top: 0;
	left: 100px;
	max-width: 539px;
	height: 64px;
	padding-top: 20px;
	text-align: center;
}

.content-wrap span {
	height: 44px;
	line-height: 44px;
	border: solid 1px #acacac; /*no*/
	display: inline-block;
	padding: 0 15px;
	margin-right: 15px;
	border-radius: 4px;
}

.color-wrap,
.size-wrap {
	position: relative;
	width: 100%;
	height: 122px;
	border-bottom: solid 1px #d6d6d6;/*no*/
}

.color-label,
.size-label {
	width: 100px;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.content-big-wrap {
	position: absolute;
	left: 56px;
	top: 60px;
	right: 0;
	text-align: left;
}

.content-big-wrap span {
	display: inline-block;
	margin-right: 20px;
	border-radius: 4px;
}

.color-wrap span {
	width: 40px; 
	height: 40px;
}

.size-wrap span {
	width: 40px; 
	height: 40px;
	padding: 0 15px;
	line-height: 40px;
	text-align: center;
	border: solid 1px #acacac;/*no*/
}

.num-wrap {
	position: relative;
	width: 100%;
	height: 68px;
	border-bottom: solid 1px #acacac;/*no*/
}

.buynum-label{
	padding-left: 20px;
	width: 120px;
	line-height: 68px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	font-size: 24px;
}

/**.number-wrap{
	position: relative;
	width: 400px; 
	display: inline-block;
	float: right; 
	padding-right: 86px;
	text-align:right; 
	vertical-align: middle;
}**/

.number-wrap{
	position: absolute;
	top: 0;
	left: 100px;
	right: 20px;
	text-align: right;
}

.number-wrap span{
	line-height: 68px;
	padding: 0 5px;
}

.sub-btn-wrap,
.plus-btn-wrap {
	display: inline-block;
	width: 68px;
	height: 68px;
}

.sub-btn-wrap {
	text-align: right;
}

.plus-btn-wrap {
	text-align: left;
}

.number-btn {
	position: relative;
    width: 33px;
    height: 33px;
    top: 10px;
}

.confirm-btn-wrap {
	text-align: center;
	position: relative;
	top: 15px;
}

.confirm-btn-wrap img {
	width: 282px;
	height: 62px;
}

.select-txt-btn {
	background-color: #ffd200;
	color: #fff;
	border: solid 0px #acacac;
}

.select-box {
	border: solid 2px #000;/*no*/
}
