@charset "utf-8";

@import url('../../../components/workDisplay/workDisplay.css?__inline');

#app {
	width: 640px;
	margin: auto;
}

.buy-button{
	width: 100%;
	height: 70px;
}

.nav-bar {
	width: 100%;
	height: 68px;
}

.left-item-wrap {
	width: 33%;
	height: 100%;
	float:left;
	text-align:center;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.mid-item-wrap {
	width: 34%;
	height: 100%;
	float:left;
	text-align:center;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.right-item-wrap {
	width: 33%;
	height: 100%;
	float:left;
	text-align:center;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.instr-detail {
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 98px;
}

.maleInstr {
	width: 640px;
	height: 4604px;
	background-size: 640px 4604px;
}

.femaleInstr {
	width: 640px;
	height: 4875px;
	background-size: 640px 4875px;
}

.childInstr {
	width: 640px;
	height: 1037px;
	background-size: 640px 1037px;
}