@charset "utf-8";

@import url('../../../components/workDisplay/workDisplay.css?__inline');

#app {
	width: 640px;
	margin: auto;
}

.nav-bar {
	width: 100%;
	height: 60px;
}

.left-item-wrap {
	width: 33%;
	height: 100%;
}

.mid-item-wrap {
	width: 33%;
	height: 100%;
}

.right-item-wrap {
	width: 33%;
	height: 100%;
}