@charset "utf-8";

@import url('../../../components/workDisplay/workDisplay.css?__inline');

#app {
	width: 640px;
	margin: auto;
}

.nav-bar {
	width: 100%;
	height: 60px;
}

.left-item-wrap {
	width: 33%;
	height: 100%;
	float:left;
	text-align:center;
	font-size: 27px;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.mid-item-wrap {
	width: 34%;
	height: 100%;
	float:left;
	text-align:center;
	font-size: 27px;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.right-item-wrap {
	width: 33%;
	height: 100%;
	float:left;
	text-align:center;
	font-size: 27px;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.mat-instr-wrap{
	width: 100%;
	height: 900px;
	text-align:center;
}
.mat-instr{
	width: 100%;
	height: 100%;
	float:left;
	text-align:center;
	background-repeat: no-repeat;
	background-size: cover; 
}

.bottom-nav{
	position: absolute;
    top: 965px;
    left: 227px;
    z-index: 10;
	width: 100%;
	height: 98px;
}
.left-tab-wrap {
	width: 77px;
	height: 98px;
	float:left;
	background-repeat: no-repeat;
	background-size: cover; 
}
.right-tab-wrap {
	width: 77px;
	height: 98px;
	float:left;
	background-repeat: no-repeat;
	background-size: cover; 
}