@charset "utf-8";

@import url('../../../components/workDisplay/workDisplay.css?__inline');

#app {
	width: 640px;
	margin: auto;
}

.nav-bar {
	width: 100%;
	height: 60px;
}

.left-item-wrap {
	width: 33%;
	height: 100%;
	float:left;
	text-align:center;
	font-size: 27px;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.mid-item-wrap {
	width: 34%;
	height: 100%;
	float:left;
	text-align:center;
	font-size: 27px;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.right-item-wrap {
	width: 33%;
	height: 100%;
	float:left;
	text-align:center;
	font-size: 27px;
	color: #4b423a;
	background-repeat: no-repeat;
	background-size: cover; 
}

.instr-detail {
	text-align: center;
}

.maleInstr {
	width: 640px;
	height: 2355px;
}

.femaleInstr {
	width: 640px;
	height: 2350px;
}

.childInstr {
	width: 640px;
	height: 484px;
}

.material-instr-wrap {
	width: 640px;
	height: 4875px;
	background-image: url('../../../static/images/materialsize/material_bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bottom-nav{
	position: fixed;
	width: 100%;
	height: 91px;
	padding-top: 7px;
	bottom: 0;
    z-index: 10;
    background-color: #fff;
    border-top: solid 1px #000;
}

.left-tab-wrap {
	position: relative;
	width: 66px;
	height: 84px;
	left: 134px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
}
.right-tab-wrap {
	position: relative;
	width: 66px;
	height: 84px;
	left: 340px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
}