@charset 'utf-8';

.work-display-wrap {
	width: 640px;
	height: 640px;
	text-align: center;
}

.work-wrap {
	width: 100%;
	height: 100%;
	text-align: center;
	background-repeat: no-repeat;
    background-size: 523px 600px;
    background-position: center;
}

/*.work {
	width: 523px;
	height: 600px;
}*/

.work-content-wrap {
	width: 100%;
	height: 266px;
	text-align: center;
	z-index: 10;
}

.work-content {
	position: absolute;
	width: 234px;
	height: 330px;
	padding: 0;
	/*top: 45%;
	margin-top: -133px;
	left: 50%;
	margin-left: -70px;*/
	left: 204px;
	top: 119px;

	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}