@charset 'utf-8';

.work-display-wrap {
	width: 640px;
	height: 657px;
	text-align: center;
}

.work-wrap {
	width: 100%;
	height: 657px;
	text-align: center;
}

.work {
	width: 613px;
	height: 657px;
}

.work-content-wrap {
	width: 100%;
	height: 266px;
	text-align: center;
	z-index: 10;
}

.work-content {
	position: absolute;
	width: 140px;
	height: 266px;
	padding: 0;
	top: 50%;
	margin-top: -133px;
	left: 50%;
	margin-left: -70px;
}