@charset "utf-8";

@import url('../../../components/workDisplay/workDisplay.css?__inline');

#app {
	width: 640px;
	margin: auto;
}

.display-wrap {
	width: 100%;
	height: 885px;
	position: relative;
}

.work-bg {
	width: 640px;
	height: 885px;
}

.intro-wrap{
	width: 100%;
	height: 1202px;
	position: relative;
}

.app-intro {
	width: 640px;
	height: 1202px;
}

.footer-wrap {
	text-align: center;
	position: relative;
}

.app-download-bottom {
    position: absolute;
	width: 183px;
	height: 68px;
    top: 1345px;
    left: 227px;
    z-index: 10;
}

.app-download-a {
    position: absolute;
	width: 183px;
	height: 68px;
    top: 1345px;
    left: 227px;
    z-index: 20;
}

.app-info {
	width: 640px;
	height: 1445px;
}
