@charset "utf-8";

#app {
	width: 640px;
	margin: auto;
}

.display-wrap {
	width: 100%;
	height: 1492px;
	position: relative;
}

.work-bg {
	width: 640px;
	height: 1492px;
}

.work-wrap {
	position: absolute;
	width: 100%;
	height: 657px;
	top: 90px;
	text-align: center;
	z-index: 1;
}

.work {
	width: 613px;
	height: 657px;
}

.work_content-wrap {
	position: absolute;
	width: 100%;
	height: 266px;
	top: 300px;
	text-align: center;
	z-index: 10;
}
.work_content {
	width: 140px;
	height: 266px;
}

.title-wrap {
	position: absolute;
	width: 100%;
	height: 37px;/*px*/
	line-height: 37px;/*px*/
	top: 68px;
	font-size: 42px;/*px*/
	z-index: 10;
	color: #4b423a;
	text-align:center;
}

.name-wrap{
	position: absolute;
	width: 100%;
	height: 37px;/*px*/
	line-height: 37px;/*px*/
	top: 1030px;
	right: 5px;
	font-size: 42px;/*px*/
	z-index: 10;
	color: #4c433b;
	text-align:center;
}

.detail-wrap {
	position: absolute;
	width: 100%;
	height: 29px;/*px*/
	line-height: 29px;/*px*/
	top: 1096px;
	font-size: 29px;/*px*/
	z-index: 10;
	text-align:center;
	color: #4b423a;
}

.user-avatar {
	position: absolute;
	width: 140px;
	height: 140px;
	top: 835px;
	left: 225px;
	border-radius: 70px;
	z-index: 30;
}

.front-back-wrap {
	position: absolute;
	width: 62px;
	height: 62px;
	top: 715px;
	right: 104px;
	z-index: 20;
}

.front,
.back {
	width: 62px;
	height: 62px;
}

.app-intro {
	width: 640px;
	height: 1377px;
}

.footer-wrap {
	text-align: center;
	position: relative;
	top: -5px;
}

.app-download-bottom {
    position: absolute;
	width: 183px;
	height: 68px;
    top: 765px;
    left: 227px;
    z-index: 10;
}

.app-info {
	width: 640px;
	height: 1027px;
}

.buy-btn {
	position: fixed;
	width: 155px;
	height: 64px;
    bottom: 50px;
    right: 50px;
	z-index: 100;
}

/*@media (min-width: 768px){
	.buy-btn {
		position: fixed;
		left: 50%;
		padding-left: 80px;
		z-index: 100;
	}
}*/