<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="keywords" content="自做自售，分享设计">
        <meta name="description" content="自做自售，分享设计,会被显示在检索的结果页面上">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="app-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">

        <script src="../../../static/lib/flexible.debug.js"></script>
        <script src="../../../static/lib/flexible_css.debug.js"></script>
        <title>设计作品分享</title>
        <link rel="stylesheet" type="text/css" href="./index.css?__inline">
    </head>
    <body>
        <div id="app">
            <div class="display-wrap">
                <img class="work-bg" src="../../../static/images/male/work_bg.jpg">
                <img class="user-avatar" v-bind:src="avatarUrl">
                <div class="title-wrap">{{title}}</div>
                <div class="name-wrap">{{nick}}</div>
                <div class="detail-wrap" v-html="detail"></div>
                <!-- <div class="work-wrap" v-tap="onTouchWorkHandler">
                    <img class="work" v-bind:src="frontbgUrl" v-if="front">
                    <img class="work" v-bind:src="backbgUrl" v-else>
                </div>
                <div class="work_content-wrap" v-tap="onTouchWorkHandler">
                    <img class="work_content" v-bind:src="frontUrl" v-if="front">
                    <img class="work_content" v-bind:src="backUrl" v-else>
                </div> -->
                <work-display :display-imgs="workDisplayImgs" :front="front" :touch-work-callback="onTouchWorkHandler"></work-display>

                <div class="front-back-wrap" v-tap="onTouchWorkHandler">
                    <img class="front" src="../../../static/images/front.png" v-if="front">
                    <img class="back" src="../../../static/images/back.png" v-else>
                </div>
            </div>
            <img class="app-intro" src="../../../static/images/male/app_intro.jpg">
            <div class="footer-wrap">
                <img class="app-info" src="../../../static/images/male/footer.jpg">
                <img class="app-download-bottom" src="../../../static/images/download.png" v-tap="onTouchDownloadHandler">
            </div>

            <buy-popup :options="goodsOptions" v-if="buying"></buy-popup>
            <img class="buy-btn" src="../../../static/images/classic/buy.png" v-else v-tap="onTouchBuyHandler">

        </div>
        <script type="text/javascript" src="../../../static/lib/vue.js"></script>
        <script type="text/javascript" src="../../../static/lib/tap.js"></script>
        <script type="text/javascript" src="../../../static/utils/util.js"></script>
        <script type="text/javascript" src="../../../static/lib/mod.js"></script>
        <script type="text/javascript" src="../../../static/lib/jquery-1.11.3.min.js"></script>
        <script type="text/javascript">
            require('./index.js');
        </script>
    </body>
</html>