@charset "utf-8";


#app {
	width: 640px;
	margin: auto;
}

.app-header-wrap {
	position: relative;
	width: 100%;
	height: 572px;
}

.header-bg {
	width: 640px;
	height: 572px;
}

.header-download-btn {
	position: absolute;
	width: 190px;
	height: 71px;
	top: 450px;
	left: 220px;
	z-index: 10;
}

.header-dwonload-a {
	position: absolute;
	width: 190px;
	height: 71px;
	top: 450px;
	left: 220px;
	z-index: 20;
    cursor: pointer;
}

.app-intro {
	width: 640px;
	height: 1301px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
	background-image: url(../../../static/images/app/app_intro.jpg);
}

.footer-wrap {
	text-align: center;
	position: relative;
	width: 640px;
	height: 1134px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
	background-image: url(../../../static/images/app/footer.jpg);
}

.app-download-bottom {
    position: absolute;
	width: 183px;
	height: 68px;
    top: 875px;
    left: 227px;
    z-index: 10;
}

.app-download-a {
    position: absolute;
	width: 183px;
	height: 68px;
    top: 875px;
    left: 227px;
    z-index: 20;
    cursor: pointer;
}

.app-info {
	width: 640px;
	height: 1134px;
}