@charset "utf-8";

#app {
	width: 640px;
	margin: auto;
}

.person-info-wrap {
	/**padding: 54px 24px 0px 26px;**/
	padding: 0px;
	padding-top: 54px;
	margin: auto;
	overflow: hidden;
}

.person-info-wrap h3 {
	color: #262525;
	font-size: 40px;
	line-height: 40px;
	padding-left: 26px;
	padding-bottom: 78px;
}

.person-info-wrap input {
	/**display: block;
	width: 100%;
	height: 40px;
	margin-top: 50px;
    padding-left: 14px;
    border: none;
    color: #a3a3a3;
    font-size: 35px;
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;**/
	position: relative;
	display: block;
	/*width: 100%;*/
	height: 40px;
	margin-top: 50px;
    /*padding-left: 14px;*/
    left: 26px;
    right: 10px;
    width: 604px;
    text-indent: 14px;
    border: none;
    color: #a3a3a3;
    font-size: 35px;
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;

	background-image: url(../../../static/images/receiving/line_normal.png?__inline);
}

.pay-way-wrap {
	position: relative;
	padding: 40px 10px 0px 16px;
}

.pay-way-wrap h4 {
	color: #262525;
	font-size: 35px;
	line-height: 35px;
	padding-bottom: 36px;
}

.pay-way-wrap span {
	display: inline-block;
	background-position: center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
}

.weixin-btn {
	width: 50px;
	height: 50px;
	background-image: url(../../../static/images/receiving/payway0.png?__inline);
}

.weixin-btn-select {
	background-image: url(../../../static/images/receiving/payway0_select.png?__inline);
}

.zhifubao-btn {
	position: relative;
	left: 32px;
	width: 50px;
	height: 50px;
	background-image: url(../../../static/images/receiving/payway1.png?__inline);
}

.zhifubao-btn-select {
	background-image: url(../../../static/images/receiving/payway1_select.png?__inline);
}

.zhifubao-btn-left {
	left: 0px;
}

.confirm-btn-wrap {
	position: absolute;
	height: 80px;
	width: 100%;
	bottom: 118px;
	text-align: center;
}
.confirm-btn {
	height: 80px;
	width: 240px;
	margin: auto;
	display: inline-block;
	color: #fff;
	font-size: 40px;
	line-height: 80px;
	background-color: #36BD36;
	border-radius: 10px;
}

.msg-popup-wrap {
	position: fixed;
	width: 90%;
	height: 150px;
	line-height: 150px;
	top: 50%;
	left: 5%;
	margin-top: -75px;
	text-align: center;
	font-size: 36px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid 1px #000;/*no*/
	border-radius: 10px;
	z-index: 100;
}

/* 必需 */
.msg-popup-expand-transition {
	transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);

    transition: transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.msg-popup-expand-enter, .msg-popup-expand-leave {
	transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-o-transform: scale(0, 0);
}