@charset "utf-8";

#app {
	width: 640px;
	margin: auto;
}

.person-info-wrap {
	/**padding: 54px 24px 0px 26px;**/
	padding: 0px;
	padding-top: 56px;
	margin: auto;
	overflow: hidden;
}

#addrMultiSelect {
    width: 584px;
    text-indent: 0;
    padding-left: 28px;
    padding-right: 28px;
    /*color: #a3a3a3;*/
    color: #070100;
    font-size: 35px;
}

#addrMultiSelect > span {
    width: 604px;
    /*color: #a3a3a3;*/
    color: #070100;
    font-size: 35px;
	height: 40px;
	line-height: 40px;
	margin-top: 50px;
}

.person-info-wrap-hc {
	color: #070100;
	font-size: 40px;
	line-height: 40px;
    width: 584px;
    padding-left: 28px;
    padding-right: 28px;
	padding-top: 0px;
	padding-bottom: 34px;
}

.person-info-wrap-input-a {
	/**display: block;
	width: 100%;
	height: 40px;
	margin-top: 50px;
    padding-left: 14px;
    border: none;
    color: #a3a3a3;
    font-size: 35px;
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;**/
	position: relative;
	display: block;
	/*width: 100%;*/
	height: 40px;
	margin-top: 44px;
	padding-bottom: 10px;
    /*padding-left: 14px;*/
    left: 0px;
    right: 0px;
    width: 584px;
    /*text-indent: 14px;*/
    padding-left: 28px;
    padding-right: 28px;
    border: none;
    color: #070100;
    font-size: 35px;
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
	border-bottom: 1px solid #0f0207; /*no*/
	/*background-image: url(../../../static/images/receiving/line_normal2.jpg?__inline);*/
}

.person-info-wrap-input-b {
	position: relative;
	display: block;
	/*width: 100%;*/
	height: 40px;
	margin-top: 44px;
	padding-bottom: 30px;
    /*padding-left: 14px;*/
    left: 0px;
    right: 0px;
    width: 584px;
    /*text-indent: 14px;*/
    padding-left: 28px;
    padding-right: 28px;
    border: none;
    color: #070100;
    font-size: 35px;
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
	border-bottom: 1px solid #0f0207; /*no*/
	/*background-image: url(../../../static/images/receiving/line_normal2.jpg?__inline);*/
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: #070100; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
	color: #070100; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
	color: #070100; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
	color: #070100; 
} 

.pay-way-wrap {
	position: relative;
	padding: 40px 10px 0px 16px;
}

.pay-way-wrap-hd {
	color: #070100;
	font-size: 35px;
	line-height: 35px;
	padding-bottom: 36px;
	padding-top: 20px;
}

.pay-way-wrap span {
	display: inline-block;
	background-position: center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
}

.weixin-btn {
	width: 50px;
	height: 50px;
	background-image: url(../../../static/images/receiving/payway0.png?__inline);
}

.weixin-btn-select {
	background-image: url(../../../static/images/receiving/payway0_select.png?__inline);
}

.zhifubao-btn {
	position: relative;
	left: 32px;
	width: 50px;
	height: 50px;
	background-image: url(../../../static/images/receiving/payway1.png?__inline);
}

.zhifubao-btn-select {
	background-image: url(../../../static/images/receiving/payway1_select.png?__inline);
}

.zhifubao-btn-left {
	left: 0px;
}

.open-in-weixin-msg {
	position: relative;
	left: 10px;
	font-size: 26px;
	text-align: left;
	color: #4b423a;
}

.confirm-btn-wrap {
	width: 100%;
	padding-top: 70px;
	height: 78px;
	padding-bottom: 50px;
	text-align: center;
}
.confirm-btn {
	height: 78px;
	width: 497px;
	margin: auto;
	display: inline-block;
	color: #fff;
	font-size: 40px;
	line-height: 78px;
	background-color: #ff9c01;
	border-radius: 10px;
}

.msg-popup-wrap {
	position: fixed;
	width: 90%;
	height: 150px;
	line-height: 150px;
	top: 50%;
	left: 5%;
	margin-top: -75px;
	text-align: center;
	font-size: 36px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid 1px #000;/*no*/
	border-radius: 10px;
	z-index: 100;
	display: none;
}

.msg-popup-show {
	display: block;
}

/* 必需 */
.msg-popup-expand-transition {
	transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);

    transition: transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.msg-popup-expand-enter, .msg-popup-expand-leave {
	transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-o-transform: scale(0, 0);
}