@charset "utf-8";

@import url('../../../components/workDisplay/workDisplay.css?__inline');

html,
body {
	background-color: #f5f5f5;
	width: 100%;
	height: 100%;
 	font-family: "MicrosoftYaHei";
}

#app {
	width: 640px;
	margin: auto;
}

.nav-bar {
	width: 100%;
	height: 66px;
	font-size: 35px; /*px*/
	color: #000;
	background-color: #fff;
}

.nav-item {
	display: inline-block;
	width: 25%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.selected-nav-item {
	color: #ffa500;
	border-bottom: solid 4px #ffa500;
}

.orders-wrap {
	width: 100%;
	min-height: 270px;
	padding-top: 20px;
}

.order-btn-wrap {
	position: relative;
	width: 100%;
	height: 81px;
	padding-top: 24px;
	background-color: #fff;
}

.order-btn-wrap .query-btn {
	position: absolute;
	display: inline-block;
	height: 55px;
	line-height: 55px;
	padding: 0 20px;
	background-color: #c0c0c0;
	color: #fff;
	border-radius: 6px;
	/*float: right;
	margin-right: 30px;*/
	right: 180px;
	display: none;
}

.order-btn-wrap .query-btn-show {
	display: block;
}

.order-btn-wrap .order-btn {
	position: absolute;
	display: inline-block;
	height: 55px;
	line-height: 55px;
	padding: 0 20px;
	background-color: #ffa500;
	color: #fff;
	border-radius: 6px;
	/*float: right;
	margin-right: 30px;*/
	right: 30px;
}

.msg-popup-wrap {
	position: fixed;
	width: 90%;
	height: 150px;
	line-height: 150px;
	top: 50%;
	left: 5%;
	margin-top: -75px;
	text-align: center;
	font-size: 36px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid 1px #000;/*no*/
	border-radius: 10px;
	z-index: 100;
	display: none;
}

.msg-popup-show {
	display: block;
}

/* 必需 */
.msg-popup-expand-transition {
	transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);

    transition: transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.msg-popup-expand-enter, .msg-popup-expand-leave {
	transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-o-transform: scale(0, 0);
}