<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="keywords" content="自做自售，分享设计">
        <meta name="description" content="自做自售，分享设计,会被显示在检索的结果页面上">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="app-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">

        <script src="../../../static/lib/flexible.debug.js"></script>
        <script src="../../../static/lib/flexible_css.debug.js"></script>
        <title>我的订单</title>
        <link rel="stylesheet" type="text/css" href="./index.css?__inline">
    </head>
    <body>
        <div id="app">
            <div class="nav-bar">
                <span v-for="item in states" class="nav-item" 
                    v-bind:class="{'selected-nav-item': item.state === selectState}" v-tap="clickNavItem(item)" v-html="item.name"></span>
            </div>
            <div v-for="items in orderItems" class="orders-wrap">
                <order-item v-for="item in items.c" :order-info="item"></order-item>
                <div class="order-btn-wrap">
                    <span class="query-btn" v-show="showQueryBtn" v-bind:class="{'query-btn-show': showQueryBtn}">查询物流</span>
                    <span class="order-btn" v-tap="clickBtnHandler(items)" v-html="btnNames[selectState]"></span>
                </div>
            </div>
            <div id="msgPopup" class="msg-popup-wrap" v-html="errMsg" transition="msg-popup-expand" v-show="showPopup"
                v-bind:class="{'msg-popup-show': showPopup}"></div>
        </div>
        <script type="text/javascript" src="../../../static/lib/vue.js"></script>
        <script type="text/javascript" src="../../../static/lib/tap.js"></script>
        <script type="text/javascript" src="../../../static/lib/util.js"></script>
        <script type="text/javascript" src="../../../static/lib/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="../../../static/lib/mod.js"></script>
        <script type="text/javascript">
            require('./index.js');
        </script>
    </body>
</html>