@charset "utf-8";

@import url('../../../components/workDisplay/workDisplay.css?__inline');

#app {
	width: 640px;
	margin: auto;
}

.tip-wrap{
 	position: absolute;
	width: 640px;
 	font-family: "微软雅黑";
 	color: #242424;
    top: 256px;
    font-size: 40px;
	text-align:center;
}

.query-wrap{
	position: absolute;
	width: 640px;
 	font-family: "微软雅黑";
 	color: #4fc281;
    top: 366px;
    font-size: 37px;
	text-align:center;
}

.query-text{
	
}